body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    margin: 10px 0;
}

.warning {
    color: #f00;
    font-size: 14px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 18px;
    color: #555;
    text-align: center;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

img{
    margin-left: 50%;
    transform: translate(-50%);
}